{% extends 'store/main.html' %}
{% load static %}
{% block title %} - Home{% endblock %}
{% block content %}
<div class="row">
    {% for p in products %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'product_upload/' %}{{p.image}}">
        <div class="box-element product">
            <h6><strong>{{p}}</strong></h6>
            <hr>
            <button data-product="{{p.id}}" data-action="add" class="btn btn-outline-danger add-btn update-cart">Add to Cart</button>
            <a class="btn btn-outline-primary" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>${{p.price|floatformat:2}}</strong></h4>
        </div>
    </div>
    {% endfor %}
    <!--- div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
        <div class="box-element product">
            <h6><strong>Product</strong></h6>
            <hr>
            <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
        </div>
    </div ---->
</div>
{% endblock %}